@page "/GetDevices"

<PageTitle>Devices</PageTitle>

@attribute [StreamRendering]
@rendermode RenderMode.InteractiveServer

@inject IHttpClientFactory clientFactory

<h2>Устройства</h2>

<h3>Количество устройств: @devices.Count </h3>

@if (devices.Count == 0)
{
    <p><em>Loading...</em></p>
}
else
{
    <div>
        <p>
            <a href="@($"CreateDevice")" class="btn btn-info">Добавить устройство</a>
        </p>
    </div>

    <table class="table table-sm table-striped table-bordered m-2">

        <thead>
            <tr>
                <th class="all" style="width: 20px;">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="customCheck1">
                        <label class="form-check-label" for="customCheck1">&nbsp;</label>
                    </div>
                </th>
                <th>Id</th>
                <th>Title</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in devices)
            {
                <tr>
                    <td>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="customcheck2">
                            <label class="form-check-label" for="customcheck2">&nbsp;</label>
                        </div>
                    </td>

                    <td>
                        <NavLink href="@($"GetDeviceDetail/{item.Id}")">@item.Id</NavLink>
                    </td>

                    <td>@item.Title</td>

                    <NavLink href="@($"UpdateDevice/{item.Id}")">Изменить</NavLink>
                    <button @onclick="@(async ()=> await Delete(item.Id))">Удалить</button>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private HttpClient httpClient = null;

    private List<Device> devices = new List<Device>();

    protected override async Task OnInitializedAsync()
    {
        httpClient = clientFactory.CreateClient();
        httpClient.BaseAddress = new Uri("https://localhost:7101/api/device");

        await Get();
    }

    private async Task Get()
    {
        HttpResponseMessage response = await httpClient.GetAsync($"{httpClient.BaseAddress}");
        string apiResponse = await response.Content.ReadAsStringAsync();

        JObject json = JObject.Parse(apiResponse);
        JToken data = json["data"];

        devices = data.ToObject<List<Device>>();
    }

    private async Task Delete(int id)
    {
        HttpResponseMessage response = await httpClient.DeleteAsync($"{httpClient.BaseAddress}/{id}");

        await Get();
    }
}
